<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div th:replace="~{ nav.html::navbar }"></div>

    <div class="card" th:each="i : ${items}">
        <img src="https://placehold.co/300">
        <div>
            <h4>
                <a th:href="@{ '/detail/' + ${i.id} }" th:text="${i.title}"></a>
            </h4>
            <p th:text="${i.price} + ' 원' " >7억</p>
            <div>
                <a th:href="@{ '/edit/' + ${i.id} }">수정</a>
                <span th:onclick="fetch('/item?id=[[${i.id}]]', {method : 'DELETE'})
                    .then(r => r.text())
                    .then(() => {
                        location.reload();
                    })">삭제</span>
            </div>
        </div>
    </div>

    <button class="btn">버튼</button>

    <script>
        document.querySelectorAll('.btn')[0].addEventListener('click', function () {
            fetch('/item',
            {
                method : 'POST',
                headers : {
                    'Content-Type' : 'application/json'
                },
                body : JSON.stringify({name : 'kim', age : 15})
            })
        })
    </script>
<!--    서버로 데이터 보내고 싶으면 <form> , AJAX body-->
<!--        짧은건 query string(fetch('/test1?name=kim&age=15'))으로 URL에 숨겨서 전송 가능 -> Controller에서 받을땐 @RequestParam String ~~~-->
<!--        -->
</body>
</html>