<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>

<h4>로그인</h4>
<div>
    <h4 th:if="${param.error}">아이디와 비번을 확인해주세요</h4>  <!-- th:if 는 오른쪽 변수에 뭐 있으면 HTML 보여주세요. -->
</div>                                      <!-- param에는 현재 URL의 query String이 담겨있음 -->
<form action="/login" method="POST">
    <input name="username">
    <input name="password" type="password">
    <button type="submit">전송</button>
</form>

</body>
</html>