<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/main.css" rel="stylesheet">
    <title>notice</title>
</head>
<body>
<div class="card" th:each="i : ${notices}">
    <div>
        <h4 th:text="${i.noticeTitle}">바지</h4>
        <p th:text="${i.date != null ? #temporals.format(i.date, 'yyyy-MM-dd') : '날짜 없음'}">7억</p>
    </div>
</div>
</body>
</html>